<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <h1>Upload Foto Profil</h1>
    <form action="/photos" method="POST" enctype="multipart/form-data">
        <label for="title">Judul:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="caption">Caption:</label><br>
        <input type="text" id="caption" name="caption"><br>
        <label for="photo">Pilih Foto:</label><br>
        <input type="file" id="photo" name="photo"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>